.content {
    width: 100%;
    background-color: #000033;
    display: flex;
}

.content .content-container {
    max-width: 90rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: calc(56px + min(56px, max(0px, (100vw - 500px) * 0.08)));
    padding-bottom: calc(56px + min(56px, max(0px, (100vw - 500px) * 0.08)));
    padding-right: calc(16px + min(40px, max(0px, (100vw - 500px) * 0.05714285714285714)));
    padding-left: calc(16px + min(40px, max(0px, (100vw - 500px) * 0.05714285714285714)));
    color: #ffffff;
}

.content .content-container h2 {
    font-size: calc(34px + min(8px, max(0px, (100vw - 500px) * 0.011428571428571429)));
    line-height: 1.3;
    font-weight: 700;
    font-family: Sora, Arial, sans-serif;
    margin-bottom: calc(32px + min(32px, max(0px,(100vw - 500px)* .045714285714285714)));
}

.content .content-container .contents-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    gap: calc(32px + min(8px, max(0px,(100vw - 500px)* .011428571428571429)));
}

.content .content-container .contents-wrapper .content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.content .content-container .contents-wrapper .content-box .image-box {
    width: 100%;
    height: 19.6875rem;
}

.content .content-container .contents-wrapper .content-box .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .content-container .contents-wrapper .content-box .text {
    line-height: 1.4;
    font-size: calc(18px + min(6px,max(0px,(100vw - 500px) * .008571428571428572)));
    color: #FFFFFF;
    font-weight: 700;
    font-family: Sora, Arial, sans-serif;
}

.content .content-container .contents-wrapper .content-box .contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;    
}

.content .content-container .contents-wrapper .content-box .contact > p {
    letter-spacing: .32px;
    line-height: 1.5;
    font-weight: 600;
    font-family: Sora, Arial, sans-serif;
}

.content .content-container .contents-wrapper .content-box .contact .arrow-right-box {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #457aff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease, border 0.5s ease;
}

.content .content-container .contents-wrapper .content-box .contact:hover .arrow-right-box {
    border-color:  transparent;
    background-color: #457aff;
}

.content .content-container .contents-wrapper .content-box .contact .arrow-right-box .arrow-right{
    color: #457aff;
    transition: color 0.1s ease;
}

.content .content-container .contents-wrapper .content-box .contact:hover .arrow-right-box .arrow-right {
    color: #000033;
}

@media screen and (max-width: 960px) {
    .content .content-container .contents-wrapper{
        grid-template-columns: 1fr;
    }
}