.search {
    width: 100%;
    background-color: #f5f5fa !important;
}

.search-container {
    max-width: 90rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: calc(32px + min(32px, max(0px, (100vw - 500px) * 0.045714285714285714)));
    padding-top: calc(56px + min(56px, max(0px, (100vw - 500px) * 0.08)));
    padding-bottom: calc(56px + min(56px, max(0px, (100vw - 500px) * 0.08)));
    padding-right: calc(16px + min(40px, max(0px, (100vw - 500px) * 0.05714285714285714)));
    padding-left: calc(16px + min(40px, max(0px, (100vw - 500px) * 0.05714285714285714)));
}

.search-container h2 {
    font-size: calc(34px + min(8px, max(0px, (100vw - 500px) * 0.011428571428571429)));
    color: #23263b;
    line-height: 1.3;
    font-weight: 700;
    font-family: Sora, Arial, sans-serif;
}

.search-container .search-bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}

.search-container .search-bottom .search-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: calc(4px + min(4px, max(0px, (100vw - 500px) * 0.005714285714285714)));
}

.search-container .search-bottom .search-box .icon-check {
    color: #003dff;
    font-size: 2rem;
}

.search-container .search-bottom .search-box p {
    font-size: calc(16px + min(2px, max(0px, (100vw - 500px) * 0.002857142857142857)));
    line-height: 1.5;
    font-weight: 400;
    font-family: Inter, sans-serif;
    color: #484c7a;
}

.search-container .search-bottom .search-box p a {
    color: #003dff;
}

@media screen and (max-width: 960px) {
    .search-container h2 {
        text-align: center;
    }
    .search-container .search-bottom {
        flex-direction: column;
    }
}